.contact{
  align-items: center;
  background-image: url(../assets/images/banner-lagi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3vw 15vw;

}

.contact-container{
  border-radius: 50px;
  background-color: #fff;
  opacity: 0.95;
  padding: 3vw;
  align-items: center;
  color: #000;
}

.contact-container h2{
  text-align: center;
}

.contact-content{
  padding: 2.5em;
  padding-bottom: 0;
}

.row{
  display: flex;
  padding: 0.75em 0;
  align-items: center;
}

.row label{
  width: 35%;
}

.row textarea{
  width: 65%;
}

input{
  border: 5px solid #d8d8d8;
  background-color: #d8d8d8;
  width: 65%;
}

input::placeholder{
  color: #505050;
}

select{
  width: 70%;
  border: 5px solid #d8d8d8;
  background-color: #d8d8d8;
  color: #000;
  padding: 0 0.1em;
}

input[type=checkbox]{
  width: auto;
  border: 2px solid #fff;
}

.p-terms{
  padding-left: 1em;
}

input[type=submit]{
  width: auto;
  background-color: #006dd3;
  padding: 7px 15px;
  border-radius: 15px;
  color: #fff;
}

select{
  width: 65%;
}

input[type=submit]:hover{
  opacity: 0.75;
}

input[type=radio]{
  text-align: left;
  width: 10%;
}

@media screen and (max-width: 969px) {
  .contact{
    padding: 3vw 5vw;
  }

  .contact-content{
    padding: 4.5vw;
  }
  
  .row{
    font-size: 3vw;
  }
}
